:root {
    --primary-color: #00108c; 
    --secondary-color: #5cfffa; 
    --white: #FFFFFF;
    --gray: #F1F1F1;
}

header::after {
    content: "";
    display: block;
    clear: both; /* Ensures the header floats properly */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--gray);
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--white);
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--primary-color);
}

.hero img {
    width: 50%;
    height: auto;
}

.weather {
    padding: 20px;
    background-color: var(--white);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.weather h2 {
    margin-bottom: 10px;
}

.weather #weather-icon::before {
    content: "⛅";
    font-size: 30px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 24px;
    }

    .weather {
        font-size: 14px;
    }
}
